body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-image: linear-gradient(to right, #353535, #D73953);
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }