body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-image: linear-gradient(to right, #353535, #D73953);
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }

  .register-left {
    text-align: cenetr;
    color: #fff;
    padding: 20px;
    margin-top: 5px;
  }

  .register-left p {
    padding: 20px 20px 0;
  }

  .register-left .btn-primary {
    border-radius: 1.5em;
    border: none;
    width: 120px;
    background: #f8f8f8;
    font-weight: 600;
    color: #555;
    margin-top: 20px;
    padding: 10px;
  }